.msgs {
  margin: 0;
  width: 100%;
  height: 80%;
  display: grid;
  align-content: baseline;
  overflow-y: auto;
}

.msgs p {
  margin: 4px;
}

.sentMessage {
  color: rgb(37, 1, 104);
  text-align: end;
}

.recivedMessage {
  color: rgb(44, 3, 109);
  text-align: justify;
}
